# Python 







##    Interpreted Language
##    Easy To Use
##    File Extension - ex.py
##    No semicolons!!!
##    Indentation required
##    Has several real world applications

# Powerful Indeed

## Code to find top 3 elements and their counts
### Example - TSARSTSSEET
### Output - S-4, T-3,  E-2

#### from collection import Counter
#### def countt(arr):
####    return counter.most_common(3)

In [ ]:
#Hello World coz Why not?!

print("Hello, World!!")

# VARIABLES
## A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

### Variables do not need to be declared with any particular type and can even change type after they have been set.

In [2]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [3]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [4]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

In [5]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Python Numbers
There are three numeric types in Python:

int
float
complex

In [6]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [7]:
#To verify the type of any object in Python, use the type() function
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
# Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [9]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [10]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Easy Type Casting

In [14]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("345") # z will be 3
print(x)
print(y)
print(z)

1
2
345

In [12]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [13]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0
print(x)
print(y)
print(z)

s1
2
3.0

In [15]:
a = hex(170)
print(a)

0xaa

In [17]:
print(ord("a"))

97

In [18]:
print(chr(69))

E

In [19]:
a = "Hello, World!"
print(a[1])

e

In [42]:
b = "Hello, World!"
print(b[::-1])

!dlroW ,olleH

In [29]:
a = " Hello, World!     "
print(a.strip())

Hello, World!

In [30]:
a.upper()

' HELLO, WORLD!     '

In [ ]:
your_name = "Albert O'Connor"
string = "Hello, {0}!"
print(string.format(your_name))

In [ ]:

print(string  + your_name)

In [31]:
print("Hello, {0}!".format("Albert O'Connor"))

Hello, Albert O'Connor!

In [32]:
"{0} likes {1}".format("Alber0t O'Connor", 'Python')

"Alber0t O'Connor likes Python"

In [33]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [34]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [35]:
print("Enter your name:")
x = input()
print("Hello, " + x)

Enter your name:
asd
Hello, asd

In [36]:
2**3

8

In [38]:
2//3

0

In [39]:
3//6

0

In [40]:
3/6

0.5

In [41]:
x = 5

print(x > 3 and x < 10)
print(x > 3 or x < 10)
print(not x > 3 and x < 10)

True
True
False

# Python Collections
## Lists - ordered and changeable
## Tuples - ordered and unchangeable
## Set - unordered and unindexed - No Duplication
## Dictionary - unordered, changeable and indexed - No Duplication

In [43]:
thislist = ["apple", "banana", "cherry",45,12.3]
print(thislist)

['apple', 'banana', 'cherry', 45, 12.3]

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [45]:
thislist.append("damson")
print(thislist)

['apple', 'blackcurrant', 'cherry', 'damson']

In [46]:

thislist.remove("apple")
print(thislist)

['blackcurrant', 'cherry', 'damson']

## Slicing In Python

In [47]:
print(len(thislist))

3


Method	                 Description
append()	```Adds an element at the end of the list
clear()	```````Removes all the elements from the list
copy()	```````Returns a copy of the list
count()	```Returns the number of elements with the specified value
extend()````````Add the elements of a list (or any iterable), to the end of the current list
index()Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [49]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [50]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant" # test changeability
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [51]:
thistupe.add("hahaha")

NameError: name 'thistupe' is not defined

In [53]:
thisset = {"apple", "banana", "cherry","apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [54]:
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [55]:
thisdict =	{
  "apple": "green",
  "banana": "yellow",
  "cherry": "red"
}
print(thisdict)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [56]:
print(thisdict['apple'])

green

In [57]:
del(thisdict['apple'])

In [60]:
a = 33
b = 33
if b > a:
  print("b is greater than a")

elif a == b:
  print("a and b are equal")

a and b are equal

# Looops
## While Loop
## for Loop

In [62]:
i = 1
while i < 6:
  print(i)
  i += 1
print("HEllo")

1
2
3
4
5
HEllo

In [66]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [69]:
for x in range(2, 30):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [70]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(6):
  print(x)

# Functions

In [71]:
def my_function():
  print("Hello from a function")

In [72]:
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
class MyClass:
  x = 5

In [ ]:
p1 = MyClass()
print(p1.x)

In [73]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [74]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John